body{
     background: rgb(255, 255, 255);
     overflow: hidden;
     margin: 0;
     }


#nav {
     background-color: rgba(0, 0, 0, 0.884);
     height: 65px;
     text-align: center;
     overflow: hidden;
     border: 2px solid black;
     color: white;
     width: 100%;
     position: fixed;
     }


nav {
     display: block;
     font-size: 25px;
     }


ul {
     list-style-type: none;
     }


li {
     float: left;
     padding:15px;
     margin-top: -19px;
     }


li a {
     text-decoration: none;
     color: white;
     letter-spacing: 6px;
     }


a:hover {
     background-color: rgb(29,59,139);
     padding: 10px;    
     }


#contact {
     background-color: rgb(29,59,139);
     padding: 15px;
     border-radius: 0px;
     }

#M{
     float: right;
     width: 60px;
     height: 60px;
     margin-top: -24px;
     margin-right: 9px;
     background: rgb(201, 200, 200);
     border: 1px solid black;
     border-radius:135px;    
     }


#firstdiv{
     width: 100%;
     background: rgba(0, 0, 0, 0.884);
     margin-top: 267px;
     position: absolute;
     text-align: center;
     }


 span{
     color:rgb(29,59,139);
     letter-spacing: 3px;
     font-size: 60px;
     }


h1{
     color: black;
     font-size: 60px;
     position: absolute;
     margin-left: 460px;
     margin-top: 125px;
     }


.box1 input[type= "text"], .box1 input[type = "email"]{
     background-color: rgb(201, 200, 200);
     display: block;
     text-align: center;
     width: 250px;
     height: 30px;
     margin-left: 200px;
     padding: 20px;
     border: 2px solid rgb(29,59,139); 
     color: rgb(29,59,139);
     font-size: 15px;
     }


textarea{
     float: right;
     margin-top: -275px;
     margin-right: 200px;
     width: 450px;
     height:250px;
     resize: none;
     background: rgb(201, 200, 200);
     border: 2px solid rgb(29,59,139);
     color: rgb(29,59,139);
     font-size: 20px;
     }


.box1 input[type="submit"]{
     background:rgb(29,59,139);
     width: 200px;
     height: 50px;
     margin-bottom: 20px;
     margin-left: -200px;
     color: rgb(201, 200, 200);
     font-size: 20px;
     outline: none;
     }
     

.box1 input[type="submit"]:hover{
     background: rgba(0, 0, 0, 0.884);
     color: rgb(29,59,139);
     font-weight: bold;
     }
