body{
     background:  rgb(255, 255, 255);
     margin: 0px;
     text-align: center;
     }



#nav {
     background-color: rgba(0, 0, 0, 0.884);
     height: 69px;
     text-align: center;
     border: 2px solid black;
     color: white;
     width: 100%;
     position: sticky;
     top: 0;
     }


nav {
     display: block;
     font-size: 25px;
     margin-left: 40px;;
     }


ul {
     list-style-type: none;
     }


li {
     float: left;
     padding:15px;
     margin-top: -19px;
     }


li a {
     text-decoration: none;
     color: white;
     letter-spacing: 6px;
     }


 li a:hover {
     background-color: rgb(29,59,139);
     padding: 10px;
     }


#skills {
     background-color: rgb(29,59,139);
     padding: 15px;
     border-radius: 0px;
     }


#skills {
     background-color: rgb(29,59,139);
     padding: 15px;
     border-radius: 0px;
     }


#M{
     float: right;
     width: 60px;
     height: 60px;
     margin-top: -24px;
     margin-right: 9px;
     background: rgb(201, 200, 200);
     border: 1px solid black;
     border-radius:135px;
     }


*{
     list-style: none;
     padding: 0;
     box-sizing: border-box;
     }


.skill1{
     width: 100%;
     margin-top: 50px;
     text-align: center;
     }


.skill1 h1{
     font-size: 70px;
     letter-spacing: 3px;
     }


.skill1 h3{
     font-size: 25px;
     color: rgba(0, 0, 0, 0.884);
     letter-spacing: 3px;
     text-align: center;
     margin-left: 380px;;
     }


.blue{
     color: rgb(29,59,139);
     font-size: 70px;
     font-weight: bold;
     }


.bar {
     background: rgba(0, 0, 0, 0.884);
     display: block;
     height: 35px;
     border: 2px solid black;
     border-radius: 3px;
     overflow: hidden;
     box-shadow: 0 0 5px 5px rgb(29,59,139);
     width: 500px;
     margin-left:420px;
     margin-top: 30px;
     }


.bar span{
     height: 35px;
     float: left;
     background: rgb(29,59,139);
     }


.html{
     width: 70%;
     animation: html 2s;
     }


.css{
     width: 50%;
     animation: css 2s;
     }


.javascript{
     width: 15%;
     animation: javascript 2s;
     }


@keyframes html {
     0%{
         width: 0%;
     }

     100%{
         width: 70%;
     }

     }


@keyframes css {
     0%{
         width: 0%;
     }

     100%{
         width: 50%;
     }

     }


@keyframes javascript {
     0%{
         width: 0%;
     }

     100%{
         width: 15%;
     }
     
     }